@model IEnumerable<HospitalSanJoseModel.UserRole>

@{
    ViewData["Title"] = "Index";
}

<div class="card p-3">
    <h1>Roles de Usuarios</h1>

    <a class="btn btn-primary d-flex align-self-end" asp-action="Create"> + Asignar Rol a Usuario</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role.Name)
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.User.FirstName @item.User.LastName (@item.User.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role.Name)
                    </td>
                    <td>
                        <a role="button" class="link-danger" onclick="desasignarRol(@item.Id,'@item.Role.Name', '@item.User.Username')">Desasignar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="~/js/sweetAlert.js"></script>

@section Scripts{
    <script>
        function desasignarRol(id, rolName, username) {
            showAlert('Confirmar', `¿Deseas desasignar el rol ${rolName} a ${username}?`, 'warning', true, 'Sí').then(confirmed => {
                if (confirmed) {
                    console.log(id)
                    const URL = `/UserRoles/Delete/${id}`;
                    $.post(URL, function (data) {
                        console.log('OK',data);
                        window.location.replace("/UserRoles");
                    });
                }
            });
        }
    </script>
}
