@model IEnumerable<HospitalSanJoseModel.UserRole>

@{
    ViewData["Title"] = "Index";
}

<div class="card p-3">
    <h1>Roles de Usuarios</h1>

    <a class="btn btn-primary d-flex align-self-end" asp-action="Create"> + Asignar Rol a Usuario</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Id)
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id">Desasignar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>