@model HospitalSanJoseModel.Doctor

@{
    ViewData["Title"] = "Details";
}

<div class="card p-3">
    <div class="d-flex justify-content-between">
        <h3>Detalles de Usuario</h3>
        <a class="align-self-end" role="button" onclick="window.history.back()">Regresar </a>
    </div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
           Usuario
        </dt>
        <dd class="col-sm-10">
            @Model.User.FirstName @Model.User.LastName (@Model.User.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specialty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specialty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearsOfExperience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearsOfExperience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qualification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qualification)
        </dd>
    </dl>
    <div>
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Editar Doctor</a>
    </div>
</div>

