@model HospitalSanJose.Models.PersonalInfo
@{
    ViewData["Title"] = "Perfil";
    var AddressLine2 = !string.IsNullOrEmpty(Model.AddressLine2) ? ", " + Model.AddressLine2 : "";
}

    <h5 class="card-title">Información Personal</h5>
    <div class="row">
        <div class="col-lg-3 col-md-4 label ">Nombre de Usuario</div>
        <div class="col-lg-9 col-md-8">@Model.User.Username</div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 label ">Nombre Completo</div>
        <div class="col-lg-9 col-md-8">@Model.User.FirstName @Model.User.LastName</div>
    </div>
    @if (@Model.Dpi != null)
    {
        <div class="row">
            <div class="col-lg-3 col-md-4 label">DPI</div>
            <div class="col-lg-9 col-md-8">@Model.Dpi</div>
        </div>
    }

    @if (@Model.City != null)
    {
        <div class="row">
            <div class="col-lg-3 col-md-4 label">Ciudad</div>
            <div class="col-lg-9 col-md-8">@Model.City</div>
        </div>
    }
    @if (@Model.AddressLine1 != null)
    {
        <div class="row">
            <div class="col-lg-3 col-md-4 label">Dirección</div>
            <div class="col-lg-9 col-md-8">@Model.AddressLine1@AddressLine2 </div>
        </div>
    }

    @if (@Model.PhoneNumber1 != null)
    {
        <div class="row">
            <div class="col-lg-3 col-md-4 label">Numero de Teléfono</div>
            <div class="col-lg-9 col-md-8">@Model.PhoneNumber1</div>
        </div>
    }
    @if (@Model.PhoneNumber2 != null)
    {
        <div class="row">
            <div class="col-lg-3 col-md-4 label">Numero de Emergencias</div>
            <div class="col-lg-9 col-md-8">@Model.PhoneNumber2</div>
        </div>
    }
    <div class="row">
        <div class="col-lg-3 col-md-4 label">Email</div>
        <div class="col-lg-9 col-md-8">@Model.User.Email</div>
    </div>

