@model IEnumerable<HospitalSanJoseModel.PersonalInfo>

@{
    ViewData["Title"] = "Index";
}

<div class="card p-3">

    <div class="d-flex justify-content-between">
        <h3>Información Personal de Usuarios</h3>
        <a class="btn btn-primary d-flex align-self-end" asp-action="Create"> + Agregar Información</a>
        
    </div>

    <hr />
   
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dpi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmergencyPhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Birthdate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaritalStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>

                <th>
                    Dirección
                </th>

                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        
                        @item.User.FirstName @item.User.LastName
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dpi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmergencyPhoneNumber)
                    </td>
                    <td>
                        @item.Birthdate.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaritalStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddressLine1)
                        @Html.DisplayFor(modelItem => item.AddressLine2)
                    </td>



                    <td>
                        <a href="@Url.Action("Details","Users", new {id= @item.UserId})"><i class="btn bi bi-file-person"></i></a> |
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="btn bi bi-pencil"></i></a> |
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="btn bi bi-card-text"></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="btn bi bi-trash3"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>