@model IEnumerable<HospitalSanJoseModel.DoctorDepartment>

@{
    ViewData["Title"] = "Index";
}

<div class="card p-3">
    <div class="d-flex justify-content-between">
        <h3>Doctores</h3>
        <a class="btn btn-primary d-flex align-self-end" asp-action="Create"> + Asignar Departamento</a>

    </div>

    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Department)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Doctor)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                    </td>
                    <td>
                        @item.Doctor.User.FirstName @item.Doctor.User.LastName (@item.Doctor.User.Username)
                    </td>

                    <td>
                        <a role="button" class="link-danger" onclick="desasignarDepartment(@item.Id,'@item.Department.DepartmentName', '@item.Doctor.User.Username')">Desasignar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="~/js/sweetAlert.js"></script>

@section Scripts{
    <script>
        function desasignarDepartment(id, depaName, username) {
            showAlert('Confirmar', `¿Deseas desasignar el departamento ${depaName} al doctor ${username}?`, 'warning', true, 'Sí').then(confirmed => {
                if (confirmed) {
                    console.log(id)
                    const URL = `/DoctorDepartments/Delete/${id}`;
                    $.post(URL, function (data) {
                        console.log('OK', data);
                        window.location.replace("/DoctorDepartments");
                    });
                }
            });
        }
    </script>
}
